/* -------------------------------------------------- 
  :: OptionTree Font
  ---------------------------------------------------*/
  @font-face {
    font-family: option-tree-font;
    src: url("../fonts/option-tree-font.eot");
    src: url("../fonts/option-tree-font.eot?#iefix") format("embedded-opentype"), url("../fonts/option-tree-font.woff") format("woff"), url("../fonts/option-tree-font.ttf") format("truetype"), url("../fonts/option-tree-font.svg#option-tree-font") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="ot-icon-"], [class*=" ot-icon-"] {
    font-family: $ot-font;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ui-tabs li > a {
    [class^="ot-icon-"], [class*=" ot-icon-"] {
      padding-right: 5px;
      line-height: 18px;
      vertical-align: middle;
    }
  }
  
  .ot-icon-option-tree:before {
    content: "\e785";
  }
  
  .ot-icon-glass:before {
    content: "\f000";
  }
  
  .ot-icon-music:before {
    content: "\f001";
  }
  
  .ot-icon-search:before {
    content: "\f002";
  }
  
  .ot-icon-envelope-o:before {
    content: "\f003";
  }
  
  .ot-icon-heart:before {
    content: "\f004";
  }
  
  .ot-icon-star:before {
    content: "\f005";
  }
  
  .ot-icon-star-o:before {
    content: "\f006";
  }
  
  .ot-icon-user:before {
    content: "\f007";
  }
  
  .ot-icon-film:before {
    content: "\f008";
  }
  
  .ot-icon-th-large:before {
    content: "\f009";
  }
  
  .ot-icon-th:before {
    content: "\f00a";
  }
  
  .ot-icon-th-list:before {
    content: "\f00b";
  }
  
  .ot-icon-check:before {
    content: "\f00c";
  }
  
  .ot-icon-times:before {
    content: "\f00d";
  }
  
  .ot-icon-search-plus:before {
    content: "\f00e";
  }
  
  .ot-icon-search-minus:before {
    content: "\f010";
  }
  
  .ot-icon-power-off:before {
    content: "\f011";
  }
  
  .ot-icon-signal:before {
    content: "\f012";
  }
  
  .ot-icon-gear:before {
    content: "\f013";
  }
  
  .ot-icon-trash-o:before {
    content: "\f014";
  }
  
  .ot-icon-home:before {
    content: "\f015";
  }
  
  .ot-icon-file-o:before {
    content: "\f016";
  }
  
  .ot-icon-clock-o:before {
    content: "\f017";
  }
  
  .ot-icon-road:before {
    content: "\f018";
  }
  
  .ot-icon-download:before {
    content: "\f019";
  }
  
  .ot-icon-arrow-circle-o-down:before {
    content: "\f01a";
  }
  
  .ot-icon-arrow-circle-o-up:before {
    content: "\f01b";
  }
  
  .ot-icon-inbox:before {
    content: "\f01c";
  }
  
  .ot-icon-play-circle-o:before {
    content: "\f01d";
  }
  
  .ot-icon-rotate-right:before {
    content: "\f01e";
  }
  
  .ot-icon-refresh:before {
    content: "\f021";
  }
  
  .ot-icon-list-alt:before {
    content: "\f022";
  }
  
  .ot-icon-lock:before {
    content: "\f023";
  }
  
  .ot-icon-flag:before {
    content: "\f024";
  }
  
  .ot-icon-headphones:before {
    content: "\f025";
  }
  
  .ot-icon-volume-off:before {
    content: "\f026";
  }
  
  .ot-icon-volume-down:before {
    content: "\f027";
  }
  
  .ot-icon-volume-up:before {
    content: "\f028";
  }
  
  .ot-icon-qrcode:before {
    content: "\f029";
  }
  
  .ot-icon-barcode:before {
    content: "\f02a";
  }
  
  .ot-icon-tag:before {
    content: "\f02b";
  }
  
  .ot-icon-tags:before {
    content: "\f02c";
  }
  
  .ot-icon-book:before {
    content: "\f02d";
  }
  
  .ot-icon-bookmark:before {
    content: "\f02e";
  }
  
  .ot-icon-print:before {
    content: "\f02f";
  }
  
  .ot-icon-camera:before {
    content: "\f030";
  }
  
  .ot-icon-font:before {
    content: "\f031";
  }
  
  .ot-icon-bold:before {
    content: "\f032";
  }
  
  .ot-icon-italic:before {
    content: "\f033";
  }
  
  .ot-icon-text-height:before {
    content: "\f034";
  }
  
  .ot-icon-text-width:before {
    content: "\f035";
  }
  
  .ot-icon-align-left:before {
    content: "\f036";
  }
  
  .ot-icon-align-center:before {
    content: "\f037";
  }
  
  .ot-icon-align-right:before {
    content: "\f038";
  }
  
  .ot-icon-align-justify:before {
    content: "\f039";
  }
  
  .ot-icon-list:before {
    content: "\f03a";
  }
  
  .ot-icon-dedent:before {
    content: "\f03b";
  }
  
  .ot-icon-indent:before {
    content: "\f03c";
  }
  
  .ot-icon-video-camera:before {
    content: "\f03d";
  }
  
  .ot-icon-picture-o:before {
    content: "\f03e";
  }
  
  .ot-icon-pencil:before {
    content: "\f040";
  }
  
  .ot-icon-map-marker:before {
    content: "\f041";
  }
  
  .ot-icon-adjust:before {
    content: "\f042";
  }
  
  .ot-icon-tint:before {
    content: "\f043";
  }
  
  .ot-icon-edit:before {
    content: "\f044";
  }
  
  .ot-icon-share-square-o:before {
    content: "\f045";
  }
  
  .ot-icon-check-square-o:before {
    content: "\f046";
  }
  
  .ot-icon-arrows:before {
    content: "\f047";
  }
  
  .ot-icon-step-backward:before {
    content: "\f048";
  }
  
  .ot-icon-fast-backward:before {
    content: "\f049";
  }
  
  .ot-icon-backward:before {
    content: "\f04a";
  }
  
  .ot-icon-play:before {
    content: "\f04b";
  }
  
  .ot-icon-pause:before {
    content: "\f04c";
  }
  
  .ot-icon-stop:before {
    content: "\f04d";
  }
  
  .ot-icon-forward:before {
    content: "\f04e";
  }
  
  .ot-icon-fast-forward:before {
    content: "\f050";
  }
  
  .ot-icon-step-forward:before {
    content: "\f051";
  }
  
  .ot-icon-eject:before {
    content: "\f052";
  }
  
  .ot-icon-chevron-left:before {
    content: "\f053";
  }
  
  .ot-icon-chevron-right:before {
    content: "\f054";
  }
  
  .ot-icon-plus-circle:before {
    content: "\f055";
  }
  
  .ot-icon-minus-circle:before {
    content: "\f056";
  }
  
  .ot-icon-times-circle:before {
    content: "\f057";
  }
  
  .ot-icon-check-circle:before {
    content: "\f058";
  }
  
  .ot-icon-question-circle:before {
    content: "\f059";
  }
  
  .ot-icon-info-circle:before {
    content: "\f05a";
  }
  
  .ot-icon-crosshairs:before {
    content: "\f05b";
  }
  
  .ot-icon-times-circle-o:before {
    content: "\f05c";
  }
  
  .ot-icon-check-circle-o:before {
    content: "\f05d";
  }
  
  .ot-icon-ban:before {
    content: "\f05e";
  }
  
  .ot-icon-arrow-left:before {
    content: "\f060";
  }
  
  .ot-icon-arrow-right:before {
    content: "\f061";
  }
  
  .ot-icon-arrow-up:before {
    content: "\f062";
  }
  
  .ot-icon-arrow-down:before {
    content: "\f063";
  }
  
  .ot-icon-mail-forward:before {
    content: "\f064";
  }
  
  .ot-icon-expand:before {
    content: "\f065";
  }
  
  .ot-icon-compress:before {
    content: "\f066";
  }
  
  .ot-icon-plus:before {
    content: "\f067";
  }
  
  .ot-icon-minus:before {
    content: "\f068";
  }
  
  .ot-icon-asterisk:before {
    content: "\f069";
  }
  
  .ot-icon-exclamation-circle:before {
    content: "\f06a";
  }
  
  .ot-icon-gift:before {
    content: "\f06b";
  }
  
  .ot-icon-leaf:before {
    content: "\f06c";
  }
  
  .ot-icon-fire:before {
    content: "\f06d";
  }
  
  .ot-icon-eye:before {
    content: "\f06e";
  }
  
  .ot-icon-eye-slash:before {
    content: "\f070";
  }
  
  .ot-icon-warning:before {
    content: "\f071";
  }
  
  .ot-icon-plane:before {
    content: "\f072";
  }
  
  .ot-icon-calendar:before {
    content: "\f073";
  }
  
  .ot-icon-random:before {
    content: "\f074";
  }
  
  .ot-icon-comment:before {
    content: "\f075";
  }
  
  .ot-icon-magnet:before {
    content: "\f076";
  }
  
  .ot-icon-chevron-up:before {
    content: "\f077";
  }
  
  .ot-icon-chevron-down:before {
    content: "\f078";
  }
  
  .ot-icon-retweet:before {
    content: "\f079";
  }
  
  .ot-icon-shopping-cart:before {
    content: "\f07a";
  }
  
  .ot-icon-folder:before {
    content: "\f07b";
  }
  
  .ot-icon-folder-open:before {
    content: "\f07c";
  }
  
  .ot-icon-arrows-v:before {
    content: "\f07d";
  }
  
  .ot-icon-arrows-h:before {
    content: "\f07e";
  }
  
  .ot-icon-bar-chart-o:before {
    content: "\f080";
  }
  
  .ot-icon-twitter-square:before {
    content: "\f081";
  }
  
  .ot-icon-facebook-square:before {
    content: "\f082";
  }
  
  .ot-icon-camera-retro:before {
    content: "\f083";
  }
  
  .ot-icon-key:before {
    content: "\f084";
  }
  
  .ot-icon-gears:before {
    content: "\f085";
  }
  
  .ot-icon-comments:before {
    content: "\f086";
  }
  
  .ot-icon-thumbs-o-up:before {
    content: "\f087";
  }
  
  .ot-icon-thumbs-o-down:before {
    content: "\f088";
  }
  
  .ot-icon-star-half:before {
    content: "\f089";
  }
  
  .ot-icon-heart-o:before {
    content: "\f08a";
  }
  
  .ot-icon-sign-out:before {
    content: "\f08b";
  }
  
  .ot-icon-linkedin-square:before {
    content: "\f08c";
  }
  
  .ot-icon-thumb-tack:before {
    content: "\f08d";
  }
  
  .ot-icon-external-link:before {
    content: "\f08e";
  }
  
  .ot-icon-sign-in:before {
    content: "\f090";
  }
  
  .ot-icon-trophy:before {
    content: "\f091";
  }
  
  .ot-icon-github-square:before {
    content: "\f092";
  }
  
  .ot-icon-upload:before {
    content: "\f093";
  }
  
  .ot-icon-lemon-o:before {
    content: "\f094";
  }
  
  .ot-icon-phone:before {
    content: "\f095";
  }
  
  .ot-icon-square-o:before {
    content: "\f096";
  }
  
  .ot-icon-bookmark-o:before {
    content: "\f097";
  }
  
  .ot-icon-phone-square:before {
    content: "\f098";
  }
  
  .ot-icon-twitter:before {
    content: "\f099";
  }
  
  .ot-icon-facebook:before {
    content: "\f09a";
  }
  
  .ot-icon-github:before {
    content: "\f09b";
  }
  
  .ot-icon-unlock:before {
    content: "\f09c";
  }
  
  .ot-icon-credit-card:before {
    content: "\f09d";
  }
  
  .ot-icon-rss:before {
    content: "\f09e";
  }
  
  .ot-icon-hdd-o:before {
    content: "\f0a0";
  }
  
  .ot-icon-bullhorn:before {
    content: "\f0a1";
  }
  
  .ot-icon-bell:before {
    content: "\f0a2";
  }
  
  .ot-icon-certificate:before {
    content: "\f0a3";
  }
  
  .ot-icon-hand-o-right:before {
    content: "\f0a4";
  }
  
  .ot-icon-hand-o-left:before {
    content: "\f0a5";
  }
  
  .ot-icon-hand-o-up:before {
    content: "\f0a6";
  }
  
  .ot-icon-hand-o-down:before {
    content: "\f0a7";
  }
  
  .ot-icon-arrow-circle-left:before {
    content: "\f0a8";
  }
  
  .ot-icon-arrow-circle-right:before {
    content: "\f0a9";
  }
  
  .ot-icon-arrow-circle-up:before {
    content: "\f0aa";
  }
  
  .ot-icon-arrow-circle-down:before {
    content: "\f0ab";
  }
  
  .ot-icon-globe:before {
    content: "\f0ac";
  }
  
  .ot-icon-wrench:before {
    content: "\f0ad";
  }
  
  .ot-icon-tasks:before {
    content: "\f0ae";
  }
  
  .ot-icon-filter:before {
    content: "\f0b0";
  }
  
  .ot-icon-briefcase:before {
    content: "\f0b1";
  }
  
  .ot-icon-arrows-alt:before {
    content: "\f0b2";
  }
  
  .ot-icon-group:before {
    content: "\f0c0";
  }
  
  .ot-icon-chain:before {
    content: "\f0c1";
  }
  
  .ot-icon-cloud:before {
    content: "\f0c2";
  }
  
  .ot-icon-flask:before {
    content: "\f0c3";
  }
  
  .ot-icon-cut:before {
    content: "\f0c4";
  }
  
  .ot-icon-copy:before {
    content: "\f0c5";
  }
  
  .ot-icon-paperclip:before {
    content: "\f0c6";
  }
  
  .ot-icon-save:before {
    content: "\f0c7";
  }
  
  .ot-icon-square:before {
    content: "\f0c8";
  }
  
  .ot-icon-bars:before {
    content: "\f0c9";
  }
  
  .ot-icon-list-ul:before {
    content: "\f0ca";
  }
  
  .ot-icon-list-ol:before {
    content: "\f0cb";
  }
  
  .ot-icon-strikethrough:before {
    content: "\f0cc";
  }
  
  .ot-icon-underline:before {
    content: "\f0cd";
  }
  
  .ot-icon-table:before {
    content: "\f0ce";
  }
  
  .ot-icon-magic:before {
    content: "\f0d0";
  }
  
  .ot-icon-truck:before {
    content: "\f0d1";
  }
  
  .ot-icon-pinterest:before {
    content: "\f0d2";
  }
  
  .ot-icon-pinterest-square:before {
    content: "\f0d3";
  }
  
  .ot-icon-google-plus-square:before {
    content: "\f0d4";
  }
  
  .ot-icon-google-plus:before {
    content: "\f0d5";
  }
  
  .ot-icon-money:before {
    content: "\f0d6";
  }
  
  .ot-icon-caret-down:before {
    content: "\f0d7";
  }
  
  .ot-icon-caret-up:before {
    content: "\f0d8";
  }
  
  .ot-icon-caret-left:before {
    content: "\f0d9";
  }
  
  .ot-icon-caret-right:before {
    content: "\f0da";
  }
  
  .ot-icon-columns:before {
    content: "\f0db";
  }
  
  .ot-icon-unsorted:before {
    content: "\f0dc";
  }
  
  .ot-icon-sort-down:before {
    content: "\f0dd";
  }
  
  .ot-icon-sort-up:before {
    content: "\f0de";
  }
  
  .ot-icon-envelope:before {
    content: "\f0e0";
  }
  
  .ot-icon-linkedin:before {
    content: "\f0e1";
  }
  
  .ot-icon-rotate-left:before {
    content: "\f0e2";
  }
  
  .ot-icon-legal:before {
    content: "\f0e3";
  }
  
  .ot-icon-dashboard:before {
    content: "\f0e4";
  }
  
  .ot-icon-comment-o:before {
    content: "\f0e5";
  }
  
  .ot-icon-comments-o:before {
    content: "\f0e6";
  }
  
  .ot-icon-flash:before {
    content: "\f0e7";
  }
  
  .ot-icon-sitemap:before {
    content: "\f0e8";
  }
  
  .ot-icon-umbrella:before {
    content: "\f0e9";
  }
  
  .ot-icon-paste:before {
    content: "\f0ea";
  }
  
  .ot-icon-lightbulb-o:before {
    content: "\f0eb";
  }
  
  .ot-icon-exchange:before {
    content: "\f0ec";
  }
  
  .ot-icon-cloud-download:before {
    content: "\f0ed";
  }
  
  .ot-icon-cloud-upload:before {
    content: "\f0ee";
  }
  
  .ot-icon-user-md:before {
    content: "\f0f0";
  }
  
  .ot-icon-stethoscope:before {
    content: "\f0f1";
  }
  
  .ot-icon-suitcase:before {
    content: "\f0f2";
  }
  
  .ot-icon-bell-o:before {
    content: "\f0f3";
  }
  
  .ot-icon-coffee:before {
    content: "\f0f4";
  }
  
  .ot-icon-cutlery:before {
    content: "\f0f5";
  }
  
  .ot-icon-file-text-o:before {
    content: "\f0f6";
  }
  
  .ot-icon-building-o:before {
    content: "\f0f7";
  }
  
  .ot-icon-hospital-o:before {
    content: "\f0f8";
  }
  
  .ot-icon-ambulance:before {
    content: "\f0f9";
  }
  
  .ot-icon-medkit:before {
    content: "\f0fa";
  }
  
  .ot-icon-fighter-jet:before {
    content: "\f0fb";
  }
  
  .ot-icon-beer:before {
    content: "\f0fc";
  }
  
  .ot-icon-h-square:before {
    content: "\f0fd";
  }
  
  .ot-icon-plus-square:before {
    content: "\f0fe";
  }
  
  .ot-icon-angle-double-left:before {
    content: "\f100";
  }
  
  .ot-icon-angle-double-right:before {
    content: "\f101";
  }
  
  .ot-icon-angle-double-up:before {
    content: "\f102";
  }
  
  .ot-icon-angle-double-down:before {
    content: "\f103";
  }
  
  .ot-icon-angle-left:before {
    content: "\f104";
  }
  
  .ot-icon-angle-right:before {
    content: "\f105";
  }
  
  .ot-icon-angle-up:before {
    content: "\f106";
  }
  
  .ot-icon-angle-down:before {
    content: "\f107";
  }
  
  .ot-icon-desktop:before {
    content: "\f108";
  }
  
  .ot-icon-laptop:before {
    content: "\f109";
  }
  
  .ot-icon-tablet:before {
    content: "\f10a";
  }
  
  .ot-icon-mobile-phone:before {
    content: "\f10b";
  }
  
  .ot-icon-circle-o:before {
    content: "\f10c";
  }
  
  .ot-icon-quote-left:before {
    content: "\f10d";
  }
  
  .ot-icon-quote-right:before {
    content: "\f10e";
  }
  
  .ot-icon-spinner:before {
    content: "\f110";
  }
  
  .ot-icon-circle:before {
    content: "\f111";
  }
  
  .ot-icon-mail-reply:before {
    content: "\f112";
  }
  
  .ot-icon-github-alt:before {
    content: "\f113";
  }
  
  .ot-icon-folder-o:before {
    content: "\f114";
  }
  
  .ot-icon-folder-open-o:before {
    content: "\f115";
  }
  
  .ot-icon-smile-o:before {
    content: "\f118";
  }
  
  .ot-icon-frown-o:before {
    content: "\f119";
  }
  
  .ot-icon-meh-o:before {
    content: "\f11a";
  }
  
  .ot-icon-gamepad:before {
    content: "\f11b";
  }
  
  .ot-icon-keyboard-o:before {
    content: "\f11c";
  }
  
  .ot-icon-flag-o:before {
    content: "\f11d";
  }
  
  .ot-icon-flag-checkered:before {
    content: "\f11e";
  }
  
  .ot-icon-terminal:before {
    content: "\f120";
  }
  
  .ot-icon-code:before {
    content: "\f121";
  }
  
  .ot-icon-reply-all:before {
    content: "\f122";
  }
  
  .ot-icon-star-half-empty:before {
    content: "\f123";
  }
  
  .ot-icon-location-arrow:before {
    content: "\f124";
  }
  
  .ot-icon-crop:before {
    content: "\f125";
  }
  
  .ot-icon-code-fork:before {
    content: "\f126";
  }
  
  .ot-icon-unlink:before {
    content: "\f127";
  }
  
  .ot-icon-question:before {
    content: "\f128";
  }
  
  .ot-icon-info:before {
    content: "\f129";
  }
  
  .ot-icon-exclamation:before {
    content: "\f12a";
  }
  
  .ot-icon-superscript:before {
    content: "\f12b";
  }
  
  .ot-icon-subscript:before {
    content: "\f12c";
  }
  
  .ot-icon-eraser:before {
    content: "\f12d";
  }
  
  .ot-icon-puzzle-piece:before {
    content: "\f12e";
  }
  
  .ot-icon-microphone:before {
    content: "\f130";
  }
  
  .ot-icon-microphone-slash:before {
    content: "\f131";
  }
  
  .ot-icon-shield:before {
    content: "\f132";
  }
  
  .ot-icon-calendar-o:before {
    content: "\f133";
  }
  
  .ot-icon-fire-extinguisher:before {
    content: "\f134";
  }
  
  .ot-icon-rocket:before {
    content: "\f135";
  }
  
  .ot-icon-maxcdn:before {
    content: "\f136";
  }
  
  .ot-icon-chevron-circle-left:before {
    content: "\f137";
  }
  
  .ot-icon-chevron-circle-right:before {
    content: "\f138";
  }
  
  .ot-icon-chevron-circle-up:before {
    content: "\f139";
  }
  
  .ot-icon-chevron-circle-down:before {
    content: "\f13a";
  }
  
  .ot-icon-html5:before {
    content: "\f13b";
  }
  
  .ot-icon-css3:before {
    content: "\f13c";
  }
  
  .ot-icon-anchor:before {
    content: "\f13d";
  }
  
  .ot-icon-unlock-alt:before {
    content: "\f13e";
  }
  
  .ot-icon-bullseye:before {
    content: "\f140";
  }
  
  .ot-icon-ellipsis-h:before {
    content: "\f141";
  }
  
  .ot-icon-ellipsis-v:before {
    content: "\f142";
  }
  
  .ot-icon-rss-square:before {
    content: "\f143";
  }
  
  .ot-icon-play-circle:before {
    content: "\f144";
  }
  
  .ot-icon-ticket:before {
    content: "\f145";
  }
  
  .ot-icon-minus-square:before {
    content: "\f146";
  }
  
  .ot-icon-minus-square-o:before {
    content: "\f147";
  }
  
  .ot-icon-level-up:before {
    content: "\f148";
  }
  
  .ot-icon-level-down:before {
    content: "\f149";
  }
  
  .ot-icon-check-square:before {
    content: "\f14a";
  }
  
  .ot-icon-pencil-square:before {
    content: "\f14b";
  }
  
  .ot-icon-external-link-square:before {
    content: "\f14c";
  }
  
  .ot-icon-share-square:before {
    content: "\f14d";
  }
  
  .ot-icon-compass:before {
    content: "\f14e";
  }
  
  .ot-icon-toggle-down:before {
    content: "\f150";
  }
  
  .ot-icon-toggle-up:before {
    content: "\f151";
  }
  
  .ot-icon-toggle-right:before {
    content: "\f152";
  }
  
  .ot-icon-euro:before {
    content: "\f153";
  }
  
  .ot-icon-gbp:before {
    content: "\f154";
  }
  
  .ot-icon-dollar:before {
    content: "\f155";
  }
  
  .ot-icon-rupee:before {
    content: "\f156";
  }
  
  .ot-icon-cny:before {
    content: "\f157";
  }
  
  .ot-icon-ruble:before {
    content: "\f158";
  }
  
  .ot-icon-won:before {
    content: "\f159";
  }
  
  .ot-icon-bitcoin:before {
    content: "\f15a";
  }
  
  .ot-icon-file:before {
    content: "\f15b";
  }
  
  .ot-icon-file-text:before {
    content: "\f15c";
  }
  
  .ot-icon-sort-alpha-asc:before {
    content: "\f15d";
  }
  
  .ot-icon-sort-alpha-desc:before {
    content: "\f15e";
  }
  
  .ot-icon-sort-amount-asc:before {
    content: "\f160";
  }
  
  .ot-icon-sort-amount-desc:before {
    content: "\f161";
  }
  
  .ot-icon-sort-numeric-asc:before {
    content: "\f162";
  }
  
  .ot-icon-sort-numeric-desc:before {
    content: "\f163";
  }
  
  .ot-icon-thumbs-up:before {
    content: "\f164";
  }
  
  .ot-icon-thumbs-down:before {
    content: "\f165";
  }
  
  .ot-icon-youtube-square:before {
    content: "\f166";
  }
  
  .ot-icon-youtube:before {
    content: "\f167";
  }
  
  .ot-icon-xing:before {
    content: "\f168";
  }
  
  .ot-icon-xing-square:before {
    content: "\f169";
  }
  
  .ot-icon-youtube-play:before {
    content: "\f16a";
  }
  
  .ot-icon-dropbox:before {
    content: "\f16b";
  }
  
  .ot-icon-stack-overflow:before {
    content: "\f16c";
  }
  
  .ot-icon-instagram:before {
    content: "\f16d";
  }
  
  .ot-icon-flickr:before {
    content: "\f16e";
  }
  
  .ot-icon-adn:before {
    content: "\f170";
  }
  
  .ot-icon-bitbucket:before {
    content: "\f171";
  }
  
  .ot-icon-bitbucket-square:before {
    content: "\f172";
  }
  
  .ot-icon-tumblr:before {
    content: "\f173";
  }
  
  .ot-icon-tumblr-square:before {
    content: "\f174";
  }
  
  .ot-icon-long-arrow-down:before {
    content: "\f175";
  }
  
  .ot-icon-long-arrow-up:before {
    content: "\f176";
  }
  
  .ot-icon-long-arrow-left:before {
    content: "\f177";
  }
  
  .ot-icon-long-arrow-right:before {
    content: "\f178";
  }
  
  .ot-icon-apple:before {
    content: "\f179";
  }
  
  .ot-icon-windows:before {
    content: "\f17a";
  }
  
  .ot-icon-android:before {
    content: "\f17b";
  }
  
  .ot-icon-linux:before {
    content: "\f17c";
  }
  
  .ot-icon-dribbble:before {
    content: "\f17d";
  }
  
  .ot-icon-skype:before {
    content: "\f17e";
  }
  
  .ot-icon-foursquare:before {
    content: "\f180";
  }
  
  .ot-icon-trello:before {
    content: "\f181";
  }
  
  .ot-icon-female:before {
    content: "\f182";
  }
  
  .ot-icon-male:before {
    content: "\f183";
  }
  
  .ot-icon-gittip:before {
    content: "\f184";
  }
  
  .ot-icon-sun-o:before {
    content: "\f185";
  }
  
  .ot-icon-moon-o:before {
    content: "\f186";
  }
  
  .ot-icon-archive:before {
    content: "\f187";
  }
  
  .ot-icon-bug:before {
    content: "\f188";
  }
  
  .ot-icon-vk:before {
    content: "\f189";
  }
  
  .ot-icon-weibo:before {
    content: "\f18a";
  }
  
  .ot-icon-renren:before {
    content: "\f18b";
  }
  
  .ot-icon-pagelines:before {
    content: "\f18c";
  }
  
  .ot-icon-stack-exchange:before {
    content: "\f18d";
  }
  
  .ot-icon-arrow-circle-o-right:before {
    content: "\f18e";
  }
  
  .ot-icon-arrow-circle-o-left:before {
    content: "\f190";
  }
  
  .ot-icon-toggle-left:before {
    content: "\f191";
  }
  
  .ot-icon-dot-circle-o:before {
    content: "\f192";
  }
  
  .ot-icon-wheelchair:before {
    content: "\f193";
  }
  
  .ot-icon-vimeo-square:before {
    content: "\f194";
  }
  
  .ot-icon-turkish-lira:before {
    content: "\f195";
  }
  
  .ot-icon-plus-square-o:before {
    content: "\f196";
  }